<!DOCTYPE html>
<html ng-app="chell-widget-example1">
<head lang="en">
    <meta charset="UTF-8">
    <title>chell-widget Example 1</title>

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="../<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="../<%= file %>"></script><% }); %>

    <script type="text/javascript" src="../chell-widget.js"></script>
    <script type="text/javascript" src="../adapters/MockWidgetAdapter.js"></script>
    <script type="text/javascript" src="../adapters/MockWidgetMock.js"></script>
    <script type="text/javascript" src="example1.js"></script>

    <link rel="stylesheet" type="text/css" href="../styles/chell-widget.css" />

</head>
<body>
<div style="margin: 50px" ng-controller="ExampleWidgetController">

    <chell-widget-dashboard name="{{name}}" collapsible="{{collapsible}}" maximizable="{{maximizable}}" structure="6-6" widget-model="model" />

</div>
</body>
</html>