<div>
    <fieldset>
        <div class="form-group">
            <label for="inputSrc">iFrame URL</label>
            <input class="form-control" id="inputSrc" ng-model="config.iFrameSrc">
        </div>
        <div class="form-group">
            <label for="inputWidth">iFrame Width</label>
            <input class="form-control" id="inputWidth" ng-model="config.iFrameWidth">
        </div>
        <div class="form-group">
            <label for="inputHeight">iFrame Height</label>
            <input class="form-control" id="inputHeight" ng-model="config.iFrameHeight">
        </div>
    </fieldset>
</div>



